.canvas-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.359);
  border-radius: 32px;
}

.title {
  font-size: 6rem;
  margin: 1rem 0;
  color: white;
}

.intro {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: white;
  max-width: 900px;
  text-align: center;
}

.profile-links {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  list-style: none;
}

.profile-link {
  color: white;
  font-size: 1.2rem;
  margin: 0 10px;
}