.projects-container {
  background-color: rgb(208, 208, 208);
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.projects-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem
}

.projects {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;

}

.project-item-card {
  background-color: antiquewhite;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: all 0.3s;
  cursor: pointer;

}

.project-item-card:hover,
.project-item-card:focus-visible {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.project-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.project-name {
  font-size: 1.2rem;
}

.project-details-anchor {
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.project-details-anchor-closed {
  opacity: 0;
}

.project-details {
  background-color: antiquewhite;
  transition: all 0.3s;
  transform-origin: center;
  overflow: hidden;
  width: 80vw;
  height: 80vh;
  border-radius: 32px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.project-details-closed {
  opacity: 0;
  transform: scale(0.5);
}

.project-details-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.project-details-title {
  font-size: 2rem;
}

.project-details-content {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  flex: 1
}

.project-details-media {
  flex: 1;
  background-color: #000000;
  border-radius: 20px;
}


.project-details-description {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-details-description-text {
  flex: 1
}

.project-details-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.project-details-description-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-details-header-close {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.project-details-header-close:hover {
  opacity: 0.7;
}