* {
  margin: 0;
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000524;
}

.left-right-container {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  gap: 4rem;
  max-width: 1200px;
  margin: auto;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0.1;
  background-color: black;
  margin: 2rem auto;

}

.centered {
  display: flex;
  justify-content: center;
  align-self: center;
  justify-self: center;
  flex: 1;
}