.header-container {
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsla(0, 0%, 0%, 0.359);
  border-radius: 0 0 10px 10px;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  height: 40px;

  width: 600px;
  margin: 0 auto;
  padding: 4px 12px;
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  font-weight: bold;
  padding: 0;
}

.header-link:hover {
  color: #fe6928;
}